button,  .check-availability, .submit-username {
  background-color: hsl(54,21%,81%);
  border-radius: 2%;
  border: $border-bottom;
}

button:hover, .check-availability:hover, .submit-username:hover {
  border: 1px $accent-color solid;
}
