.upcoming, .past, .spent {
  align-items: center;
  overflow-y: scroll;
}

.view {
  @include grid();
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  height: 10%;
}

.room-view {
  @include grid();
  margin-top: 3%;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
}
