header {
	align-items: flex-end;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
	display: flex;
	height: max-content;
	justify-content: space-around;
	padding: 1em;

}

// header {
//   border-bottom: black 2px solid;
// }
