header {
	align-items: flex-end;
	box-shadow: $shadow;
	display: flex;
	height: max-content;
	justify-content: space-around;
	padding: 1em;
	border-bottom: 2px black solid;
}

// header {
//   border-bottom: black 2px solid;
// }
