main {
  @include flexColumnCenter();
  align-items: normal;
}

.customer-view {
  margin-top: 3%;
  display: grid;
	grid-gap: 2%;
  grid-template-rows: 1% 33% 33% 33%;
  height: 100%;
}

.booking-card {
  @include flexColumnCenter();
  background-color: white;
  border: #191970 solid -2px;
  box-shadow: $shadow;
  justify-content: center;
  margin-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
  transition: transform 450ms;
  will-change: transform;
}

.room-details {
	margin: 1.25em;
  width: 90%;
}

.selected-room-card {
  @include flexColumnCenter();
  background-color: white;
  box-shadow: $shadow;
  display: flex;
  margin-bottom: 3%;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 70%;
  padding: 2%;
}

.hidden {
  display: none;
}
