main {
  display: flex;
  flex-direction: column;
}

// form {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-evenly;
//   padding: 1%;
//   border-bottom: $border-bottom;
// }

.customer-view {
  margin-top: 3%;
  display: grid;
	grid-gap: 2%;
  grid-template-rows: 1% 33% 33% 33%;
	// padding: 3%;
  height: 100%;
}

.booking-card {
  align-items: center;
  background-color: white;
  border: #191970 solid -2px;
  box-shadow: $shadow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
  transition: transform 450ms;
  will-change: transform;
}

.room-details {
	margin: 1.25em;
  width: 90%;
}

.selected-room-card {
  align-items: center;
  background-color: white;
  box-shadow: $shadow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3%;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 50%;
  padding: 2%;
}

.hidden {
  display: none;
}
