main {
  @include flexColumnCenter();
  align-items: normal;
}

.customer-view {
  margin-top: 3%;
  display: grid;
	grid-gap: 2%;
  grid-template-rows: 1% 33% 33% 33%;
  height: 100%;
}

.booking-card {
  @include flexColumnCenter();
  @include mainCardStyling();
  border: #191970 solid -2px;
  justify-content: center;
  transition: transform 450ms;
  will-change: transform;
}

.room-details, .login-details {
	margin: 1.25em;
  width: 90%;
}

.selected-room-card, .login-card {
  @include flexColumnCenter();
  @include mainCardStyling();
  display: flex;
  margin-top: 3%;
  width: 80%;
  height: 70%;
  padding: 2%;
}

.credentials {
  @include flexColumnCenter();
  border: 1px black solid;
}

.log-in-welcome {
  border-bottom: 0;
}

.hidden {
  display: none;
}
