/* This is an example of using Sass, otherwise plain CSS works too*/
* {
border: 1px blue solid;
}

//$primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);


html, header, body, main {
  height: 100%;
  width: 100%;
  background: $primary-background;
}

// header {
//   background: $primary-background;
// }
